@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Margarine&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    font-family: "Margarine", sans-serif;
}

#card{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    text-align: center;
}

#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: inherit;
}

#card h1{
    font-size: 25px;
    margin: 10px 0;
    font-weight: 700;
}

#card h5{
    font-size: 25px;
    color: red;
    margin-bottom: 20px;
    font-family: "Josefin Sans", sans-serif;
}

#card button {
    background-color: cadetblue;
    color: white;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
#card #remove{
    background-color: #dadada;
    color: black;
}